<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title >Date Picker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" style=" color:white;">Welcome [[${#httpServletRequest.remoteUser}]]!</a>
    <form class="form-inline" style=" margin-left: auto;
    margin-right: auto;">
        <button class="btn btn-outline-success" type="submit" formaction="/upload">Upload 4th Year Report</button>
        <button class="btn btn-outline-danger" type="submit" formaction="/index">Home</button>
    </form>
</nav>
<form action="#" th:action="@{/dateSubmit}" th:object="${date}" method="post">
    <p>Preference #1 <input type="datetime-local" th:field="*{date1}" /></p>
    <p>Preference #2 <input type="datetime-local" th:field="*{date2}" /></p>
    <p>Preference #3 <input type="datetime-local" th:field="*{date3}" /></p>
    <p><input type="submit" value="Submit" /><input type="reset" value="Reset" /></p>
</form>
</body>
</html>