<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Deadlines</title>
</head>
<body>
<h1>Students without Topics</h1>
<table>
    <thead>
    <tr>
        <th> Student Name </th>
        <th> Student Number </th>
        <th> Enrolled Projects </th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="noTopic : ${noTopic}">
        <td><span th:text="${noTopic.name}"> Student Name </span></td>
        <td><span th:text="${noTopic.id}"> Student Number </span></td>
        <td><span th:text="${noTopic.projectId} ?: 'None.' "> Enrolled Projects </span></td>

    </tr>
    </tbody>
</table>
</body>
</html>