<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Events and Deadlines</title>
</head>
<body>
<h1>Your Events</h1>
<table>
    <thead>
    <tr>
        <th> Event Title </th>
        <th> Event Description </th>
        <th> Event Deadline </th>

    </tr>
    </thead>
    <tbody>
    <tr th:if="${event.empty}">
        <td colspan="3"> You do not have any current events </td>
    </tr>
    <tr th:each="event : ${event}">
        <td><span th:text="${event.eventName}"> Event Name </span></td>
        <td><span th:text="${event.description}"> Event Description </span></td>
        <td><span th:text="${event.deadline}"> Deadline </span></td>

    </tr>
    </tbody>
</table>
</body>
</html>