<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project Results Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Topics:</h1>
<p th:text="'Topic: ' + ${topic.topicName}" />
<p th:text="'Topic Description: ' + ${topic.description}" />
<p th:text="'Maximum Students Allowed: ' + ${topic.max_Students}" />
<p th:text="'Students Restriction: ' + ${topic.restrictions}" />

<form class="form-inline" style=" margin-left: auto;
    margin-right: auto;">
    <button class="btn btn-outline-success" type="submit" formaction="/add">Create another Project</button>
    <button class="btn btn-outline-success" type="submit" formaction="/deadline">View Students without a Project</button>
</form>
</body>
</html>