<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Professor Home </a>
    <form class="form-inline" style=" margin-left: auto;
    margin-right: auto;">
        <button class="btn btn-outline-primary" type="submit" formaction="/add">Add Topic</button>
    </form>
</nav>
<table border="1">

    <col width = "200">
    <col width = "130">
    <col width = "130">
    <col width = "130">
    <col width = "130">
    <col width = "130">
    <col width = "130">
    <thead>
    <tr>
        <th> Topic Title </th>
        <th> Program Restriction </th>
        <th> Max Students Allowed </th>
        <th> Actions </th>
        <th> Archive Topic </th>
        <th> Activate Topic </th>
        <th> Delete Topic </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="t : ${topic}">
        <td><span th:text="${t.topicName}"> Topic Title </span></td>
        <td><span th:text="${t.restrictions}"> Program Restriction </span></td>
        <td><span th:text="${t.max_Students}"> Max Students Allowed </span></td>
        <td><form><button class="btn btn-outline-primary" type="submit" formaction="/prof/topic">View</button></form></td>

        <td><form action="#" th:action="@{archive}" method="get">
            <input type="hidden" th:name="topicId" th:value="${t.id}" />
            <button class="btn btn-outline-primary" type="submit">Archive</button></form></td>

        <td><form action="#" th:action="@{activate}" method="get">
            <input type="hidden" th:name="topicId" th:value="${t.id}" />
            <button class="btn btn-outline-primary" type="submit">Activate</button></form></td>

        <td><form action="#" th:action="@{delete}" method="get">
            <input type="hidden" th:name="topicId" th:value="${t.id}" />
            <button class="btn btn-outline-primary" type="submit">Delete</button></form></td>
        </tr>
    </tbody>
</table>

</body>
</html>