<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Professor Home </a>
    <form class="form-inline" style=" margin-left: auto;
    margin-right: auto;">
        <button class="btn btn-outline-primary" type="submit" formaction="/add">Add Topic</button>
    </form>
</nav>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<table border="1">

    <col width = "200">
    <col width = "130">
    <col width = "130">
    <col width = "130">
    <col width = "130">
    <col width = "130">
    <thead>
    <tr>
        <th> Topic Title </th>
        <th> Program Restriction </th>
        <th> Max Students Allowed </th>
        <th> Actions </th>
        <th> Archive Topic </th>
        <th> Delete Topic </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="topic : ${topic}">
        <td><span th:text="${topic.topicName}"> Topic Title </span></td>
        <td><span th:text="${topic.restrictions}"> Program Restriction </span></td>
        <td><span th:text="${topic.max_Students}"> Max Students Allowed </span></td>
        <td><form><button class="btn btn-outline-primary" type="submit" formaction="/prof/topic">View</button></form></td>

        <td><form action="#" th:action="@{archive}" method="get">>
            <input type="hidden" th:name="topicId" th:value="${topic.id}" />
            <button class="btn btn-outline-primary" type="submit">Archive</button></form></td>

        <td><form action="#" th:action="@{delete}" method="get">>
            <input type="hidden" th:name="topicId" th:value="${topic.id}" />
            <button class="btn btn-outline-primary" type="submit">Delete</button></form></td>
        </tr>
    </tbody>
</table>

</body>
</html>