<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Student Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>

<table>
    <thead>
    <tr>
        <th> Description </th>
        <th> Restrictions </th>
      <!--  <th> Current Student </th> -->
        <th> Max Student </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="topic : ${topicList}">
        <td><span th:text="${topic.description}"> Description </span></td>
        <td><span th:text="${topic.restrictions}"> Restrictions </span></td>
    <!--    <td><span th:text="${topic.}"> Current Student</span></td> -->
        <td><span th:number="${topic.max_Students}"> Max Student</span></td>

        <td><form  >
            <button class="btn btn-outline-success" type="submit" formaction="/StudentHome">Join</button>
            <button class="btn btn-outline-danger" type="submit" formaction="">Details</button>
        </form></td>
    </tr>

    </tbody>
</table>

</body>
</html>